{% include "header/header.html" %}
<body class="sb-nav-fixed">
    {% include "header/top_bar.html" %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include "header/sidebar.html" %}
        </div>
        <div id="layoutSidenav_content">
            <main>  
                <div class="container-fluid px-4">
                    <h2 class="mt-4">Master</h2>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Shop Details</li>
                    </ol>

                    <div class="w-100 shadow bg-primary rounded text-light">
                        <div class="p-2">
                            <strong>Shop Details</strong>
                        </div>
                        <div class="body">

                        </div>
                    </div>
                </div>
            </main>
            
        </div>
    </div>
    
</body>

{% include "header/footer.html" %}  